---
//@ts-ignore
const { event } = Astro.props;

function formatDate(dateString: string) {
  // Tilføj 'string' som type
  const date = new Date(dateString);
  return date
    .toLocaleDateString("da-DK", {
      day: "2-digit",
      month: "long",
      year: "numeric",
    })
    .toUpperCase(); // Får APRIL i stedet for april
}
function formatTime(timeString: string) {
  // Split tid ved kolon og fjern sekunder
  const [hours, minutes] = timeString.split(":");
  return `${hours}:${minutes}`; // Returner kun timer og minutter
}
---

<a href={`/events/${event.id}`} class="event_card_link">
  <article class="event_card">
    <div>
      <img src={event.event_img} alt="Event i Circular Lab" />
      <h2>{event.event_title}</h2>
      <h3>
        {formatDate(event.event_date)}
        {formatTime(event.event_start_time)} - {
          formatTime(event.event_end_time)
        }
      </h3>
      <p>{event.event_description}</p>
    </div>
    <div>
      <span>→Læs mere her</span>
    </div>
  </article>
</a>

<style>
  .event_card {
    width: 240px;
    height: 400px;
    padding: 5px;
    background-color: #ededed;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 10px;
  }

  .event_card img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border: 1px solid #9e9e9e;
  }

  .event_card:hover {
    scale: 1.02;
    transition: 0.3s;
  }

  h2 {
    margin: 5px 0;
    font-size: calc(
      16px + (18 - 16) * (100vw - 320px) / (1200 - 320)
    ); /* Dynamisk font-størrelse */
    line-height: 22px;
  }

  h3 {
    font-size: calc(
      9px + (11 - 9) * (100vw - 320px) / (1200 - 320)
    ); /* Dynamisk font-størrelse */
    font-weight: 300;
    margin-bottom: 5px;
  }

  a {
    font-size: calc(
      16px + (18 - 16) * (100vw - 320px) / (1200 - 320)
    ); /* Dynamisk font-størrelse */
  }

  p {
    font-size: calc(
      13px + (15 - 13) * (100vw - 320px) / (1200 - 320)
    ); /* Dynamisk font-størrelse */
    line-height: 1.5;
    margin-top: 5px;
  }
</style>
